{# @var town \App\Entity\TownRankingProxy #}
<div class="view-town">
    <h5 class="relative">
        {% if town.language is not null %}
            <img src="{{ asset("build/images/lang/" ~ town.language ~".png") }}" alt="{{ town.language }}" />
        {% endif %}
        {{town.name}}
    </h5>

    {{ help_lnk('Der Tod und die Berechnung der Seelepunkte'|trans({}, 'help'), 'help', {'name': 'death_and_soul_points'}) }}
    <div class="row">
        <div class="padded cell ro-3 rw-6 ro-md-1 rw-md-10 ro-sm-0 rw-sm-12">

            {% if town.town and town.town.citizens|filter(c=>c.alive) is not empty %}
                <div class="note note-critical center">{{ 'Wenn man den letzten Neuigkeiten Glauben schenken darf, gibt es in dieser Stadt noch Überlebende!'|trans({},'soul') }}</div>
            {% endif %}

            {% if user_name is defined %}
                <button class="center" x-ajax-href="{{ base_path }}">{{ 'Zurück zur Kartei von {player}'|trans({ player: '<strong>'~user_name~'</strong>' },'soul')|raw }}</button>
            {% else %}
                <button class="center" x-ajax-href="{{ path('soul_game_history') }}">{{ 'Übersicht meiner Partien'|trans({},'soul') }}</button>
            {% endif %}

        </div>
    </div>

    {% if town.imported %}
        <div class="row">
            <div class="cell rw-12 padded">
                <div class="green-note">
                    <img width="auto" height="16px" alt="" src="{{ asset('build/images/badges/twinoid.png') }}">
                    {% if town.language == 'de' %}{% set host = '<b>Die Verdammten</b>' %}
                    {% elseif town.language == 'en' %}{% set host = '<b>Die2Nite</b>' %}
                    {% elseif town.language == 'fr' %}{% set host = '<b>Hordes</b>' %}
                    {% elseif town.language == 'es' %}{% set host = '<b>Zombinoia</b>' %}
                    {% else %}{% set host = '<b>Twinoid</b>' %}
                    {% endif %}
                    {{ 'Diese Stadt wurde von {host} importiert. Die angezeigten Informationen sind möglicherweise unvollständig.'|trans({'{host}': host},'soul')|raw }}
                </div>
            </div>
        </div>
    {% elseif town.season is null %}
        <div class="row">
            <div class="cell rw-12 padded">
                <div class="note note-warning">
                    {{ 'Diese Stadt stammt aus der Alpha-Phase von MyHordes. Die angezeigten Informationen sind daher möglicherweise unvollständig oder sehen nicht so aus, wie du es sonst erwarten würdest.'|trans({},'soul')|raw }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if town.disabled %}
        <div class="row">
            <div class="cell rw-12 padded">
                <div class="note note-warning">
                    {{ 'Diese Stadt wurde aus dem Ranking ausgeschlossen.'|trans({},'soul') }}
                    {% if is_granted('ROLE_CROW') %}
                        <div class="button small inline" id="unrank_redact">{{ 'Ranking-Ausschluss zurücknehmen'|trans({},'admin') }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% elseif town.event %}
        <div class="row">
            <div class="cell rw-12 padded">
                <div class="note green-note">
                    <img alt="E" src="{{ asset('build/images/icons/small_star.gif') }}">
                    {{ 'Dies ist eine Event-Stadt.'|trans({},'soul') }}
                    {% if is_granted('ROLE_CROW') %}
                        <div class="button small inline" id="event_redact">{{ 'Event-Markierung entfernen'|trans({},'admin') }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% elseif is_granted('ROLE_CROW') %}
        <div class="row">
            <div class="cell rw-12 padded">
                <div class="button small inline" id="event">{{ 'Als Event-Stadt markieren'|trans({},'admin') }}</div>
                <div class="button small inline" id="unrank">{{ 'Diese Stadt aus dem Ranking ausschließen'|trans({},'admin') }}</div>
            </div>
        </div>
    {% endif %}

    <div class="row-table citizens-list">
        <div class="row-flex header">
            <div class="padded cell rw-1 rw-lg-2 rw-md-3 rw-sm-4">
                {{'Tage'|trans({}, 'soul')}}
                {{ help_btn('In dieser Spalte werden die Anzahl der vollen Tage angezeigt, die jeder Bürger überlebt hat. Ein Tag gilt immer dann als "vollkommen überlebt", <strong>wenn du beim Zombieangriff um 23:59 stirbst</strong>. Solltest du vorher, im Laufe des Tages, sterben gilt der Tag nicht als überlebt...'|trans({},'soul')) }}
            </div>
            <div class="padded cell rw-1 rw-lg-2 rw-md-3 rw-sm-4">{{'Ergebnis'|trans({}, 'soul')}}</div>
            <div class="padded cell rw-2 rw-md-3 rw-sm-4">{{'Bürger'|trans({}, 'soul')}}</div>
            <div class="padded cell rw-4 rw-lg-3 hide-sm">{{'Todesursache'|trans({}, 'soul')}}</div>
            <div class="padded cell rw-4 rw-lg-3 hide-md hide-sm">{{'Kommentar'|trans({}, 'soul')}}</div>
        </div>
        {% for citizen in town.citizens|filter(c => c.end is not null or c.confirmed == true)|sort((a,b) => b.day <=> a.day) %}
            {% set days = citizen.day %}
            {% set sp = days * ( days + 1 ) / 2 %}
            <div class="row {% if citizen.user.id == app.user.id or citizen.user.id == user.id %}me{% endif %}">
                <div class="padded cell rw-1 rw-lg-2 rw-md-3 rw-sm-4">{{citizen.day}}</div>
                <div class="padded cell rw-1 rw-lg-2 rw-md-3 rw-sm-4 town-points bold">
                    {% if not citizen.disabled and not town.disabled %}
                        +{{sp}}
                    {% elseif is_granted('ROLE_CROW') %}
                        <div style="{% if citizen.disabled %}color: {% if citizen.limitedImport %}rosybrown{% else %}red{% endif %};{% endif %} {% if town.disabled %}opacity: 0.5;{% endif %}">+{{sp}}</div>
                    {% elseif not (citizen.disabled and not citizen.limitedImport) and not town.disabled %}
                        +{{sp}}
                    {% endif %}
                    {% if is_granted('ROLE_CROW') %}
                        {% if not citizen.disabled %}
                            <img x-action="unrank" x-endpoint="{{ path('admin_town_citizen_ranking_control', {tid: town.id, cid: citizen.id, act: 1}) }}" class="pointer" src="{{ asset('build/images/icons/small_remove.gif') }}" alt="del" />
                        {% else %}
                            <img x-action="unrank" x-endpoint="{{ path('admin_town_citizen_ranking_control', {tid: town.id, cid: citizen.id, act: 0}) }}" class="pointer" src="{{ asset('build/images/icons/small_back.gif') }}" alt="re" />
                        {% endif %}
                    {% endif %}
                </div>
                <div class="padded cell rw-2 rw-md-3 rw-sm-4">
                    {% if not last_user_standing is null and last_user_standing == citizen.user %}
                        <span>
                    <img src="{{ asset('build/images/pictos/r_surlst.gif') }}" />
                    <div class="tooltip help">
                        {{'Der letzte Tote in dieser Stadt!'|trans({}, 'game')}}
                        <p>{{'Achtung!'|trans({}, 'ghost')}} <strong>{{'Der letzte Tote erhält nur dann eine Belohnung, wenn er 5 volle Tage überlebt hat.'|trans({}, 'game')}}</strong></p>
                    </div>
                </span>
                    {% endif %}
                    <span class="link" x-ajax-href="{{ path('soul_visit', {id: citizen.user.id}) }}">{{citizen.user.name}}</span>
                </div>
                <div class="padded cell rw-4 rw-lg-3 hide-sm">
                    {% if is_granted("ROLE_CROW") and citizen.limitedImport %}
                        <div><b style="color: rosybrown">{{ 'Eingeschränkter Import'|trans({},'admin') }}</b></div>
                    {% endif %}
                    {% if citizen.cod is not null %}
                        {{citizen.cod.label|trans({}, 'game')}}
                    {% else %}
                        {{'Unbekannte Todesursache'|trans({}, 'game')}}
                    {% endif %}
                    {% if not citizen.lastWords is empty %}
                        <img src="{{asset('build/images/log/chat.gif')}}"  alt=""/>
                        {% if is_granted('ROLE_CROW') %}
                            <br/>
                            <img x-model="last" x-action="edit" x-original="{{ citizen.lastWords }}" x-endpoint="{{ path('admin_user_edit_comment', {id: citizen.user.id, cid: citizen.id}) }}" class="pointer" src="{{ asset('build/images/forum/edit.png') }}" alt="edit" />
                            <img x-model="last" x-action="del" x-endpoint="{{ path('admin_user_edit_comment', {id: citizen.user.id, cid: citizen.id}) }}" class="pointer" src="{{ asset('build/images/icons/small_remove.gif') }}" alt="del" />
                        {% endif %}
                    {% endif %}
                    <div class="tooltip">
                        {% if citizen.lastWords is empty %}
                            <span>{{ 'Dieser Bürger hat keine letzten Worte hinterlassen ...'|trans({}, 'game') }}</span>
                        {% else %}
                            <b>{{"Letzte Worte:"|trans({}, 'game')}}</b> {{ citizen.lastWords|replace({'{gotKilled}': '...der Mörder .. ist.. IST.. AAARGHhh..'|trans({},'game')}) }}
                        {% endif %}
                    </div>
                </div>
                <div class="padded cell rw-4 rw-lg-3 rw-md-12 hide-sm hidden-empty comment">
                    {% if is_granted('ROLE_CROW') and citizen.commentLocked %}<span style="color: red">{{citizen.comment}}</span>
                    {% else %}{{citizen.comment}}{% endif %}
                    {% if is_granted('ROLE_CROW') and citizen.comment is not empty %}
                        <br/>
                        <img x-model="com" x-original="{{ citizen.comment }}" x-action="edit" x-endpoint="{{ path('admin_user_edit_comment', {id: citizen.user.id, cid: citizen.id}) }}" class="pointer" src="{{ asset('build/images/forum/edit.png') }}" alt="edit" />
                        <img x-model="com" x-action="del" x-endpoint="{{ path('admin_user_edit_comment', {id: citizen.user.id, cid: citizen.id}) }}" class="pointer" src="{{ asset('build/images/icons/small_remove.gif') }}" alt="del" />
                    {% elseif is_granted('ROLE_CROW') and not citizen.commentLocked %}
                        <img x-model="com" x-action="del" x-endpoint="{{ path('admin_user_edit_comment', {id: citizen.user.id, cid: citizen.id}) }}" class="pointer" src="{{ asset('build/images/icons/lock.gif') }}" alt="lock" />
                    {% elseif is_granted('ROLE_CROW') %}
                        <span style="color: red">[ ... ]</span>
                    {% endif %}
                </div>
                <div class="padded cell rw-12 hide-desktop hide-lg hide-md comment">
                    {% if citizen.cod is not null %}
                        <i>{{citizen.cod.label|trans({}, 'game')}}</i>
                    {% else %}
                        <i>{{'Unbekannte Todesursache'|trans({}, 'game')}}</i>
                    {% endif %}
                    {% if not citizen.lastWords is empty %}
                        : <span class="small">"{{ citizen.lastWords|replace({'{gotKilled}': '...der Mörder .. ist.. IST.. AAARGHhh..'|trans({},'game')}) }}"</span>
                    {% endif %}
                    {% if citizen.comment is not empty %}
                        <br />{{citizen.comment}}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% if is_granted('ROLE_CROW') %}
    <script>
        (function() {
            $.html.addEventListenerAll('#unrank', 'click', (e,elem) => {
                if (!confirm('{{ 'Bestätigen?'|trans({},'global')|e('js') }}')) return;
                $.ajax.easySend('{{ path('admin_town_town_ranking_control', {tid: town.id, act: 1}) }}', {}, () => $.ajax.load(null, '{{ return_to|e('js') }}'));
            });

            $.html.addEventListenerAll('#unrank_redact', 'click', (e,elem) => {
                if (!confirm('{{ 'Bestätigen?'|trans({},'global')|e('js') }}')) return;
                $.ajax.easySend('{{ path('admin_town_town_ranking_control', {tid: town.id, act: 0}) }}', {}, () => $.ajax.load(null, '{{ return_to|e('js') }}'));
            });

            $.html.addEventListenerAll('#event', 'click', (e,elem) => {
                if (!confirm('{{ 'Bestätigen?'|trans({},'global')|e('js') }}')) return;
                $.ajax.easySend('{{ path('admin_town_event_tag_control', {tid: town.id, act: 1}) }}', {}, () => $.ajax.load(null, '{{ return_to|e('js') }}'));
            });

            $.html.addEventListenerAll('#event_redact', 'click', (e,elem) => {
                if (!confirm('{{ 'Bestätigen?'|trans({},'global')|e('js') }}')) return;
                $.ajax.easySend('{{ path('admin_town_event_tag_control', {tid: town.id, act: 0}) }}', {}, () => $.ajax.load(null, '{{ return_to|e('js') }}'));
            });

            $.html.addEventListenerAll('[x-endpoint][x-action="unrank"]', 'click', (e,elem) => {
                if (!confirm('{{ 'Bestätigen?'|trans({},'global')|e('js') }}')) return;
                $.ajax.easySend(elem.getAttribute('x-endpoint'), {}, () => $.ajax.load(null, '{{ return_to|e('js') }}'));
            });

            $.html.addEventListenerAll('[x-model][x-endpoint][x-action]', 'click', (e,elem) => {
                const action = elem.getAttribute('x-action');
                let text = null;
                if (action === 'del' && !confirm('{{ 'Bestätigen?'|trans({},'global')|e('js') }}')) return;
                if (action === 'edit' && (text = prompt('{{ 'Bearbeiten'|trans({},'admin') }}', elem.getAttribute('x-original'))) === null) return;

                $.ajax.easySend(elem.getAttribute('x-endpoint'), {mod: elem.getAttribute('x-model'), txt: text}, () => $.ajax.load(null, '{{ return_to|e('js') }}'));
            })
        })();
    </script>
{% endif %}