{# @var entries \App\Entity\TownLogEntry[] #}
{% if entries|length == 0 %}
    <i>{{ 'Heute ist nichts Erwähnenswertes passiert...'|trans({},'game') }}</i>
{% else %}
    {% set last_entry = null %}
    {% for entry in entries %}
        {% set time_diff_seconds = (last_entry is not null) ? (last_entry.timestamp.timestamp - entry.timestamp.timestamp) : ('now'|date('U') - entry.timestamp.timestamp) %}
        {% if time_diff_seconds >= 7200 %}
            <div class="log-silence">{{ '(seit {num} Stunden herrscht völlige Flaute)'|trans({num: (time_diff_seconds/3600)|round(0,'floor')},'game') }}</div>
        {% elseif time_diff_seconds >= 3600 %}
            <div class="log-silence">{{ '(über eine Stunde ohne besondere Vorkommnisse)'|trans({num: (time_diff_seconds/3600)|round(0,'floor')},'game') }}</div>
        {% elseif time_diff_seconds >= 600 %}
            <div class="log-silence">{{ '({num} Minuten Stille)'|trans({num: (time_diff_seconds/60)|round(0,'floor')},'game') }}</div>
        {% endif %}
        <div class="log-entry log-entry-type-{{ entry.type }} log-entry-class-{{ entry.class }}">
            <span class="log-part-time">{{ entry.timestamp.format('G:i') }}</span>
            <span class="log-part-content {% if entry.hidden %}log-part-entry-hidden{% endif %}">{% if entry.hidden %}<img alt="" src="{{ asset('build/images/icons/small_warning.gif') }}" />{% endif %} {{ entry.text|raw }} {% if entry.hiddenBy is not null %}(Hidden by {{ entry.hiddenBy.name }}){% endif %}</span>
        </div>
        {% set last_entry = entry %}
    {% endfor %}
{% endif %}
{{ include('ajax/flash.html.twig') }}