const handleItems = function( items, api_path, direction, return_path, warning, content = null ) {
    for (let i = 0; i < items.length; i++)
        items[i].addEventListener('click', function() {
            if (warning && !confirm(warning)) return;

            const item_id = parseInt(this.getAttribute('x-item-id'));
            let data = {item: item_id, direction: direction};

            if (this.hasAttribute('x-escort-id'))
                data.escort = parseInt(this.getAttribute('x-escort-id'));
            if (this.hasAttribute('x-theft') && this.getAttribute('x-theft'))
                data.theft = this.getAttribute('x-theft');

            $.ajax.easySend( api_path, data, () => $.ajax.no_history().load(content, return_path), null, (data) => {
                $.html.selectErrorMessage( data.error, null, c.errors, data )
                if (parseInt(data.error) === {{ constant('App\\Service\\InventoryHandler::ErrorBankTheftFailed') }}) $.no_history().ajax.load(content, return_path);
            });
        });
};